
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
    <link rel="stylesheet" type="text/css" href="/wwwroot/map/jquery-jvectormap.css" />

</head>
<body>
    <div>
        @Html.Partial("Svgdisplay")
    </div>
</body>
</html>
