@{
    Layout = "~/Views/Shared/_Template.cshtml";
}
<div class="page">
    <div class="page-content d-flex align-items-stretch">
        <!-- 侧边 -->
        @Html.Partial("_sidebar")
        <!--侧边-->
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">收入统计</h2>
                </div>
            </header>
        </div>
    </div>
</div>