@{
    Layout = "~/Views/Shared/_Template.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <script src="~/wwwroot/comm/echarts.js"></script>
    <style>
        element.style{
            width:100%;
            height:100%;
        }
  
    </style>
</head>
<body>
    @{
        Layout = "~/Views/Shared/_Template.cshtml";
    }
    <div class="page">
        <div class="page-content d-flex align-items-stretch">
            <!-- 侧边 -->
            @Html.Partial("_sidebar")
            <!--侧边-->
            <div class="content-inner">      
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">收费统计</h2>
                    </div>
                </header>
                <div class="breadcrumb-holder container-fluid">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">主页</a></li>
                        <li class="breadcrumb-item active">选项</li>
                    </ul>
                </div>
                <section class="tables">
                   
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="card">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                            <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">
                                            <select id="select" style="width:200px;height:35px;">
                                                <option value="-1">--选择--</option>
                                                <option value="0">按日查询</option>
                                                <option value="1">按月查询</option>
                                                <option value="2">按年查询</option>
                                            </select>
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">    
                                            <div id="system"style="width:99%;height:500px"></div>
                                            <script>
                                                var myChart = echarts.init(document.getElementById('system'));
                                                option = @Html.Raw(Session["option"]);
                                                myChart.setOption(option);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-6">
                                <div class="card">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                            <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">111</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="system1" style="width:99%;height:300px"></div>
                                            <script>
                                                var myChart = echarts.init(document.getElementById('system1'));
                                                option =@Html.Raw(Session["option"]);
                                                myChart.setOption(option);
                                              
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                            <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">222222222</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="system2" style="width:99%;height:300px"></div>
                                            <script>
                                                var myChart = echarts.init(document.getElementById('system2'));
                                                option = @Html.Raw(Session["option"]);
                                                myChart.setOption(option);

                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-close">
                                        <div class="dropdown">
                                            <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                            <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                        </div>
                                    </div>
                                    <div class="card-header d-flex align-items-center">
                                        <h3 class="h4">33333333</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="system3" style="width:99%;height:300px"></div>
                                            <script>
                                                var myChart = echarts.init(document.getElementById('system3'));
                                                option =@Html.Raw(Session["option"]);
                                                myChart.setOption(option);

                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </section>             
            </div>
        </div>
    </div>
    <script src="~/wwwroot/comm/jquery-3.3.1.js"></script>
   <script>
       $(function () {

           $("#select").change(function () {

               var type=$("#select option:checked").val()

               location.href="../Home/Statistics?type="+type+""

           });

       });
   </script>

</body>
</html>