<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/wwwroot/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/comm/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/wwwroot/comm/css/fontastic.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link href="~/wwwroot/comm/css/style.default.css" rel="stylesheet" id="theme-stylesheet" />
    <link href="~/wwwroot/comm/css/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/wwwroot/comm/img/favicon.ico">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<script src="~/wwwroot/comm/js/jquery.min.js"></script>
<script src="~/wwwroot/comm/js/popper.min.js"></script>
<script src="~/wwwroot/lib/js/bootstrap.min.js"></script>
<script src="~/wwwroot/comm/js/jquery.cookie.js"></script>
<script src="~/wwwroot/comm/js/Chart.min.js"></script>
<script src="~/wwwroot/comm/js/jquery.validate.min.js"></script>
<script src="~/wwwroot/comm/js/front.js"></script>